<div class="container">
  <div class="row card-row">
    <div class="col-12 col-md-3">
      <div class="msds-category-card msds-category-card--small msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <div class="msds-category-card__header-icon-container">
            <svg class="msds-category-card__header-icon">
              <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
            </svg>
          </div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">{{content}}</div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="msds-category-card msds-category-card--small msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <div class="msds-category-card__header-icon-container">
            <svg class="msds-category-card__header-icon">
              <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>