<div class="row">

    <div class="tab-tile">
        <img src=" {{tab.placeholderImg}}" alt="tile image" class="tab-tile__image">
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div class="tab-tile">
        <img src=" {{tab.placeholderImg}}" alt="tile image" class="tab-tile__image">
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div class="tab-tile">
        <img src=" {{tab.placeholderImg}}" alt="tile image" class="tab-tile__image">
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div class="tab-tile">
        <img src=" {{tab.placeholderImg}}" alt="tile image" class="tab-tile__image">
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>
    
</div>