<div class="row">

    <div class="tab-tile">
        <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div class="tab-tile">
         <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div class="tab-tile">
          <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div class="tab-tile">
          <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

</div>