<div class="row-scroll-x-mobile col-12">

    <div tabindex="1" class="msds-tab-tile msds-tab-tile--active">
        <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div tabindex="1" class="msds-tab-tile">
         <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div tabindex="1" class="msds-tab-tile">
          <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div tabindex="1" class="msds-tab-tile">
          <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

</div>


<div class="row-scroll-x-mobile col-12">

    <div tabindex="1" class="msds-tab-tile msds-tab-tile--disabled msds-tab-tile--active">
        <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div tabindex="1" class="msds-tab-tile msds-tab-tile--disabled">
         <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div tabindex="1" class="msds-tab-tile msds-tab-tile--disabled">
          <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

    <div tabindex="1" class="msds-tab-tile msds-tab-tile--disabled">
          <svg>
            <use href="{{ path '/msds-spritemap.svg' }}#self-service-support" />
        </svg>
        <div class="msds-tab-tile__text">
            {{tab.placeholderHeading}}
        </div>
    </div>

</div>