{{!-- <h1>{{general.cardDescription}}</h1> --}}
<h1>Solution cards</h1>
<div class="container">
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-solution-card msds-solution-card--certified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                    
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--orange msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="msds-tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas 
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Certified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-solution-card msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--orange msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-solution-card msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--orange msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-solution-card msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-solution-card msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-solution-card msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons">
                        <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row card-row">
        <div class="col-12 col-md-3">
            <div class="msds-solution-card msds-solution-card--small msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--center msds-tag--orange msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons ">
                        <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="msds-solution-card msds-solution-card--small msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--center msds-tag--orange msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons ">
                        <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="msds-solution-card msds-solution-card--small msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img  src="{{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image" class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--center msds-tag--mint msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons ">
                        <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="msds-solution-card msds-solution-card--small msds-solution-card--verified">
                <div class="msds-solution-card__header">
                    <div class="msds-solution-card__header-logo-container">
                        <img src=" {{ path '/src/demo-img/visionlabs.jpg' }}" alt="solution card image"
                            class="msds-solution-card__header-logo-container-logo">
                    </div>
                    <div class="msds-solution-card__header-tag-container">
                        <div class="msds-tag msds-tag--center msds-tag--orange msds-text-white">
                            <div class="msds-icon msds-reliable"></div>
                            <div class="tag-text msds-text-header-6">Solution</div>
                        </div>
                    </div>
                    <h3 class="msds-solution-card__header-headline msds-text-header-4">
                        VisionLabs Face Recognition Plug-in
                    </h3>
                </div>
                <div class="msds-solution-card__body">
                    <h3 class="msds-solution-card__body-headline">
                        By xPrime
                    </h3>
                    <p class="msds-solution-card__body-description ">
                        Prevent Vandalism | Prevent Vandalism | Control access to restricted areas
                    </p>
                </div>
                <div class="msds-solution-card__footer">
                    <div class="msds-solution-card__footer-certification">
                        <div class="icon-container ">
                            <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#checkmark" /></svg>
                        </div>
                        <span class="msds-solution-card__footer-certification-text">Milestone Verified</span>
                    </div>
                    <div class="msds-solution-card__footer-buttons ">
                        <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-gray-8">
                            GET IN TOUCH
                        </div>
                         <div class="msds-solution-card__footer-buttons-button  msds-text-header-5 msds-text-clear-blue">
                            EXPLORE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>