<form class="msds-form">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area" placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>
            </div>   

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--small" placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>
            </div>    
        
            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--disabled" disabled placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--disabled" disabled placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--error" placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--error" placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>  
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--success" placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>
            </div>

            <div class="col-5">
                <div class="msds-form__input-container">
                    <textarea class="msds-form__input-container-text-area msds-form__input-container-text-area--small msds-form__input-container-text-area--success" placeholder="{{placeholder}}" maxlength="400" type="textarea"></textarea>
                    <label class="msds-form__input-container-text-area-label" for="default-input">{{placeholder}}</label>
                    <p class="msds-form__input-container-text-area-message">{{message}}</p>
                </div>  
            </div>
        </div>
    </div>
</form>