<form class="msds-form">
    <div class="large-input">
        <div class="msds-text-body-1">Large</div>
        <br>
        <div class="msds-text-body-3">
            Default
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input" type="text" placeholder="{{placeholder}}" name="default-input">
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{message}}</p>
        </div>

        <div class="msds-text-body-3">
            Disabled
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--disabled" type="text" placeholder="{{placeholder}}" name="default-input" disabled>
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{message}}</p>
        </div>

        <div class="msds-text-body-3">
            Error
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--error" type="text" placeholder="{{placeholder}}" name="default-input">
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{errorMessage}}</p>
        </div>

        <div class="msds-text-body-3">
            Success
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--success" type="text" placeholder="{{placeholder}}" name="default-input">
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{successMessage}}</p>
        </div>
    </div>

    <div class="small-input">
        <div class="msds-text-body-1">small</div>
        <br>
        <div class="msds-text-body-3">
            Default 
        </div>
        <br>    
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--small" type="text" placeholder="{{placeholder}}" name="default-input">
            <label class="msds-form__input-container-input-label msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{message}}</p>
        </div>
        <br>
         <div class="msds-text-body-3">
            Disabled
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--small msds-form__input-container-input--disabled" type="text" placeholder="{{placeholder}}" name="default-input" disabled>
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{message}}</p>
        </div>
        <br>
        <div class="msds-text-body-3">
            Error
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--small msds-form__input-container-input--error" type="text" placeholder="{{placeholder}}" name="default-input">
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{errorMessage}}</p>
        </div>

        <div class="msds-text-body-3">
            Success
        </div>
        <br>
        <div class="msds-form__input-container">
            <input class="msds-form__input-container-input msds-form__input-container-input--small msds-form__input-container-input--success" type="text" placeholder="{{placeholder}}" name="default-input">
            <label class="msds-form__input-container-input-label" for="default-input">{{placeholder}}</label>
            <p class="msds-form__input-container-input-message">{{successMessage}}</p>
        </div>
    </div>
</form>