<div class="container">
  <div class="row card-row">
    <div class="col-12 col-md-4">
      <div class="msds-contact-card msds-contact-card--vertically-aligned">
        <div class="msds-contact-card__overlay"></div>
        <div class="msds-contact-card__headline">
          {{headline}}
        </div>
        <div class="msds-contact-card__caption">
          <img class="msds-contact-card__caption-image rounded-circle" src="{{placeholderImg}}" alt="Card image">
        </div>
        <div class="msds-contact-card__body">
          <div class="msds-contact-card__body-contact-person">
            {{contactPerson}}
          </div>
          <div class="msds-contact-card__body-contact-position">
            {{contactPosition}}
          </div>
          <div class="msds-contact-card__body-contact-details">
            <div class="msds-contact-card__body-contact-details-wrapper">
              <a class="msds-contact-card__link" href="#">
                <svg title="email" class="msds-contact-card__icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#email" />
                </svg>
                {{contactEmail}}
              </a>
              <a class="msds-contact-card__link" href="#">
                <svg title="linkedin" class="msds-contact-card__icon">
                  <use href="{{ path '/msds-spritemap.svg' }}#linkedin" />
                </svg>
                {{contactSocialMediaLink}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>