<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="msds-contact-card msds-contact-card--small-without-image msds-contact-card--vertically-aligned">
        <div class="msds-contact-card__overlay"></div>
        <div class="msds-contact-card__headline">
          {{headlineNoImage}}
        </div>
        <div class="msds-contact-card__body">
          <div class="msds-contact-card__body-contact-person">
            {{contactPersonNoImage}}
          </div>
          <div class="msds-contact-card__body-contact-position">
            {{contactPositionNoImage}}
          </div>
          <div class="msds-contact-card__body-contact-details">
            <a class="msds-contact-card__link" href="#">
              <svg title="email" class="msds-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#email" />
              </svg>
              {{contactEmailNoImage}}
            </a>
            <a class="msds-contact-card__link" href="#">
              <svg title="linkedin" class="msds-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#linkedin" />
              </svg>
              {{contactSocialMediaLinkNoImage}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>