{{!-- <div class="container"> --}}
    <h1>{{general.cardDescription}}</h1>
    <div class="row">
        <div class="col-3">
            <a href="#" class="msds-generic-content-card msds-generic-content-card">
                <div class="msds-generic-content-card__cap">
                    <img class="msds-generic-content-card__cap-image" src={{card.placeholderImg}} alt="Card image">
                </div>
                <div class="msds-generic-content-card__body">
                    <h3 class="msds-generic-content-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-content-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>

         <div class="col-3">
            <a href="#" class="msds-generic-content-card msds-generic-content-card">
                <div class="msds-generic-content-card__cap">
                    <img class="msds-generic-content-card__cap-image" src={{card.placeholderImg}} alt="Card image">
                </div>
                <div class="msds-generic-content-card__body">
                    <h3 class="msds-generic-content-card__body-heading">
                        {{card.placeholderHeadingLong}}
                    </h3>
                    <p class="msds-generic-content-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

<h1>{{general.cardDescriptionDarkTheme}}</h1>
    <div class="row">
        <div class="col-3">
            <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
                <div class="msds-generic-content-card__cap">
                    <img class="msds-generic-content-card__cap-image" src={{card.placeholderImg}} alt="Card image">
                </div>
                <div class="msds-generic-content-card__body">
                    <h3 class="msds-generic-content-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-content-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
                <div class="msds-generic-content-card__cap">
                    <img class="msds-generic-content-card__cap-image" src={{card.placeholderImg}} alt="Card image">
                </div>
                <div class="msds-generic-content-card__body">
                    <h3 class="msds-generic-content-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-content-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
                <div class="msds-generic-content-card__cap">
                    <img class="msds-generic-content-card__cap-image" src={{card.placeholderImg}} alt="Card image">
                </div>
                <div class="msds-generic-content-card__body">
                    <h3 class="msds-generic-content-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-content-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
                <div class="msds-generic-content-card__cap">
                    <img class="msds-generic-content-card__cap-image" src={{card.placeholderImg}} alt="Card image">
                </div>
                <div class="msds-generic-content-card__body">
                    <h3 class="msds-generic-content-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-content-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
{{!-- </div> --}}
