<div class="container">
  <div class="row justify-content-start">
    <div class="col-6">
      <p>Container card with header content <strong>(Small)</strong></p>
      <div class="msds-category-card">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <p>Container card with header and body content <strong>(Small)</strong></p>
      <div class="msds-category-card">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">{{content}}</div>
        </div>
      </div>
    </div>
  </div>

<div class="row justify-content-start">
    <div class="col-6">
      <p>Container card with header content - <strong>disabled</strong> <strong>(Small)</strong></p>
      <div
        class="msds-category-card msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <p>Container card with header and body content - <strong>disabled</strong> <strong>(Small)</strong></p>
      <div
        class="msds-category-card msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">{{content}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-6">
      <p>Container card with header content <strong>(Large)</strong></p>
      <div class="msds-category-card msds-category-card--large">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <p>Container card with header and body content <strong>(Large)</strong></p>
      <div class="msds-category-card msds-category-card--large">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">{{content}}</div>
        </div>
      </div>
    </div>
  </div>

 <div class="row justify-content-start">
    <div class="col-6">
      <p>Container card with <strong>long</strong> header content <strong>(Large)</strong></p>
      <div class="msds-category-card msds-category-card--large">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headlineLong}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <p>Container card with <strong>long</strong> header and body content <strong>(Large)</strong></p>
      <div class="msds-category-card msds-category-card--large">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headlineLong}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">{{content}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-6">
      <p>Container card with header content - <strong>disabled</strong> <strong>(Large)</strong></p>
      <div
        class="msds-category-card msds-category-card--large msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <p>Container card with header and body content - <strong>disabled</strong> <strong>(Large)</strong></p>
      <div
        class="msds-category-card msds-category-card--large msds-category-card--disabled">
        <div class="msds-category-card__header">
          <div class="msds-category-card__header-body">{{headline}}</div>
          <svg class="msds-category-card__header-icon">
            <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
          </svg>
          <div class="msds-category-card__header-opaque-filter"></div>
        </div>
        <div class="msds-category-card__content">
          <div class="msds-category-card__content-body">{{content}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
