<h1>{{general.cardDescription}} Aspect 2 by 1</h1>
<div class="row card-row">
    <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-2by1">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading aspect-2by1">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>

    <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-2by1">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading aspect-2by1">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>
</div>

<h1>{{general.cardDescriptionDarkTheme}} Aspect 2 by 1</h1>
<div class="row card-row">
    <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-2by1">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>

   <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-2by1">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>

    <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-2by1">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>

    <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card msds-generic-content-card--dark-theme">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-2by1">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>
</div>

<h1>Cards Aspect 16 by 9</h1>
<div class="row card-row">
    <div class="col-12 col-lg-4 col-md-3">
        <a href="#" class="msds-generic-content-card">
            <div class="msds-generic-content-card__cap embed-responsive embed-responsive-16by9">
                <img class="msds-generic-content-card__cap-image embed-responsive-item" src={{card.placeholderImg}} alt="Card image">
            </div>
            <div class="msds-generic-content-card__body">
                <h3 class="msds-generic-content-card__body-heading">
                    {{card.placeholderHeading}}
                </h3>
                <p class="msds-generic-content-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </p>
            </div>
        </a>
    </div>
</div>