<div class="row">
  <div class="col-4">
    <h3>Large - Icon left, text right</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--lg">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Medium (default) - Icon left, text right</h3>
    <button type="button" class="msds-btn-floating">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Small - Icon left, text right</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--sm">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>

    <div class="col-4">
    <h3>Large - Text left, icon right</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--lg msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Medium (default) - Text left, icon right</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Small - Text left, icon right</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--sm msds-btn-floating--right">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>

    <div class="col-4">
    <h3>Large - Text above icon</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--lg msds-btn-floating--column">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Medium (default) - Text above icon</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--column">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
  <div class="col-4">
    <h3>Small - Text above icon</h3>
    <button type="button" class="msds-btn-floating msds-btn-floating--sm msds-btn-floating--column">
      <svg class="msds-icon">
        <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
      </svg>
      See more
    </button>
  </div>
</div>