<h1>Medium Accordion - Checkbox</h1>
<div class="msds-accordion">
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="checkbox" id="accordion-list-item_overview-medium-1">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-1">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="checkbox" id="accordion-list-item_overview-medium-2">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-2">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>

<h1>Medium Accordion - Radio</h1>
<div class="msds-accordion">
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="radio" id="accordion-list-item_overview-medium-radio-1" name="accordion-with-radio">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-radio-1">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="radio" id="accordion-list-item_overview-medium-radio-2" name="accordion-with-radio">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-radio-2">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>


<h1>Medium Accordion - Icon left</h1>
<div class="msds-accordion">
    <div class="msds-accordion__list-item">
        <input type="checkbox" id="accordion-list-item_overview-medium-icon-left-1">
        <label class="msds-accordion__list-item-header
                         msds-accordion__list-item-header--left-icon" 
                for="accordion-list-item_overview-medium-icon-left-1">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon">
                        <use href="/msds-spritemap.svg#knowledgebase"></use>
                    </svg>
                </div>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
  <div class="msds-accordion__list-item">
        <input type="checkbox" id="accordion-list-item_overview-medium-icon-left-2">
        <label class="msds-accordion__list-item-header
                         msds-accordion__list-item-header--left-icon" 
                for="accordion-list-item_overview-medium-icon-left-2">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 2 </div>
            <div class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon">
                        <use href="/msds-spritemap.svg#demo"></use>
                    </svg>
                </div>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>


<h1>Medium Accordion - Icon left floating</h1>
<div class="msds-accordion">
    <div class="msds-accordion__list-item msds-accordion__list-item--floating">
        <input type="checkbox" id="accordion-list-item_overview-medium-icon-left-floating-1">
        <label class="msds-accordion__list-item-header 
                        msds-accordion__list-item-header--left-icon" 
               for="accordion-list-item_overview-medium-icon-left-floating-1">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon msds-icon--unchecked">
                        <use href="/msds-spritemap.svg#knowledgebase"></use>
                    </svg>

                    <svg class="msds-icon msds-icon--checked">
                        <use href="/msds-spritemap.svg#cross"></use>
                    </svg>
                </div>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
      <div class="msds-accordion__list-item msds-accordion__list-item--floating">
        <input type="checkbox" id="accordion-list-item_overview-medium-icon-left-floating-2">
        <label class="msds-accordion__list-item-header 
                        msds-accordion__list-item-header--left-icon" 
               for="accordion-list-item_overview-medium-icon-left-floating-2">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 2 </div>
            <div class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon msds-icon--unchecked">
                        <use href="/msds-spritemap.svg#demo"></use>
                    </svg>

                    <svg class="msds-icon msds-icon--checked">
                        <use href="/msds-spritemap.svg#cross"></use>
                    </svg>
                </div>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>


<h1>Medium Accordion - Icon left floating</h1>
<div class="msds-accordion msds-accordion--dark-yellow">
    <div class="msds-accordion__list-item msds-accordion__list-item--floating">
        <input type="checkbox" id="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-1">
        <label class="msds-accordion__list-item-header 
                        msds-accordion__list-item-header--left-icon" 
               for="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-1">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon msds-icon--unchecked">
                        <use href="/msds-spritemap.svg#knowledgebase"></use>
                    </svg>

                    <svg class="msds-icon msds-icon--checked">
                        <use href="/msds-spritemap.svg#cross"></use>
                    </svg>
                </div>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
      <div class="msds-accordion__list-item msds-accordion__list-item--floating">
        <input type="checkbox" id="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-2">
        <label class="msds-accordion__list-item-header 
                        msds-accordion__list-item-header--left-icon" 
               for="accordion-list-item_overview-medium-icon-left-floating-dark-yellow-2">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 2 </div>
            <div class="msds-accordion__list-item-header-icon">
                <div class="msds-btn-floating">
                    <svg class="msds-icon msds-icon--unchecked">
                        <use href="/msds-spritemap.svg#demo"></use>
                    </svg>

                    <svg class="msds-icon msds-icon--checked">
                        <use href="/msds-spritemap.svg#cross"></use>
                    </svg>
                </div>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>

<h1>Medium Accordion - As filter</h1>
<div class="msds-accordion msds-accordion--as-filter">
    <div class="msds-accordion__list-item 
                    msds-accordion__list-item--animate-icon-rotate">
        <input type="checkbox" id="accordion-list-item_overview-medium-as-filter">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-medium-as-filter">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>

<h1>Medium Accordion - disabled</h1>
<div class="msds-accordion">
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="checkbox" id="accordion-list-item_overview-disabled" disabled>
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-disabled">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>


<h1>Large Accordion</h1>
<div class="msds-accordion msds-accordion--large">
    <div class="msds-accordion__list-item msds-accordion__list-item--animate-icon-rotate">
        <input type="checkbox" id="accordion-list-item_overview-large">
        <label class="msds-accordion__list-item-header" for="accordion-list-item_overview-large">
            <div class="msds-accordion__list-item-header-title">Accordion List Overview Item 1 </div>
            <div class="msds-accordion__list-item-header-icon">
                <svg>
                    <use href="{{ path '/msds-spritemap.svg' }}#right-arrow" />
                </svg>
            </div>
        </label>
        <div class="msds-accordion__list-item-content">
            <div class="msds-accordion__list-item-subtitle">
                This is the Accordion List Item 1 long title
            </div>
            <div class="msds-accordion__list-item-body">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
    </div>
</div>