<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Sizes & variations</h1>
      <h2 style="font-size: 14px;	font-weight: bold; color: #6D6F71;">WITH IMAGE</h2>
    </div>

    <div class="col-6">
      <h4 style="font-size: 14px;	font-weight: bold; color: #6D6F71;">Large</h4>
    </div>

    <div class="col-6">
      <h4 style="font-size: 14px;	font-weight: bold; color: #6D6F71;">Small</h4>
    </div>

    <div class="col-6">
      <div class="msds-container-contact-card">

        <div class="msds-container-contact-card__overlay">
        </div>

        <div class="msds-container-contact-card__headline">
          {{headline}}
        </div>

        <div class="msds-container-contact-card__caption">
          <img class="msds-container-contact-card__caption-image rounded-circle" src="{{placeholderImg}}"
            alt="Card image">
        </div>

        <div class="msds-container-contact-card__body">

          <div class="msds-container-contact-card__body-contact-person">
            {{contactPerson}}
          </div>

          <div class="msds-container-contact-card__body-contact-position">
            {{contactPosition}}
          </div>

          <div class="msds-container-contact-card__body-contact-email">
            <a class="msds-container-contact-card__link" href="#">
              <svg title="email" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#email" />
              </svg>
              {{contactEmail}}
            </a>
          </div>

          <div class="msds-container-contact-card__body-contact-social-media">
            <a class="msds-container-contact-card__link" href="#">

              <svg title="linkedin" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#linkedin" />
              </svg>

              {{contactSocialMediaLink}}
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="msds-container-contact-card msds-container-contact-card--small">

        <div class="msds-container-contact-card__overlay">
        </div>

        <div class="msds-container-contact-card__headline">
          {{headline}}
        </div>

        <div class="msds-container-contact-card__caption">
          <img class="msds-container-contact-card__caption-image rounded-circle" src="{{placeholderImg}}"
            alt="Card image">
        </div>

        <div class="msds-container-contact-card__body">

          <div class="msds-container-contact-card__body-contact-person">
            {{contactPerson}}
          </div>

          <div class="msds-container-contact-card__body-contact-position">
            {{contactPosition}}
          </div>

          <div class="msds-container-contact-card__body-contact-email">
            <a class="msds-container-contact-card__link" href="#">
              <svg title="email" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#email" />
              </svg>
              {{contactEmail}}
            </a>
          </div>

          <div class="msds-container-contact-card__body-contact-social-media">
            <a class="msds-container-contact-card__link" href="#">

              <svg title="linkedin" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#linkedin" />
              </svg>

              {{contactSocialMediaLink}}
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 style="font-size: 14px;	font-weight: bold; color: #6D6F71;">NO IMAGE</h2>
    </div>

    <div class="col-6">
      <h4 style="font-size: 14px;	font-weight: bold; color: #6D6F71;">Large</h4>
    </div>

    <div class="col-6">
      <h4 style="font-size: 14px;	font-weight: bold; color: #6D6F71;">Small</h4>
    </div>

    <div class="col-6">
      <div class="msds-container-contact-card msds-container-contact-card--without-image">

        <div class="msds-container-contact-card__overlay">
        </div>

        <div class="msds-container-contact-card__headline">
          {{headlineNoImage}}
        </div>

        <div class="msds-container-contact-card__body">

          <div class="msds-container-contact-card__body-contact-person">
            {{contactPersonNoImage}}
          </div>

          <div class="msds-container-contact-card__body-contact-position">
            {{contactPositionNoImage}}
          </div>

          <div class="msds-container-contact-card__body-contact-email">
            <a class="msds-container-contact-card__link" href="#">
              <svg title="email" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#email" />
              </svg>
              {{contactEmailNoImage}}
            </a>
          </div>

          <div class="msds-container-contact-card__body-contact-social-media">
            <a class="msds-container-contact-card__link" href="#">

              <svg title="linkedin" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#linkedin" />
              </svg>

              {{contactSocialMediaLinkNoImage}}
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-6">
      <div
        class="msds-container-contact-card msds-container-contact-card--small-without-image">

        <div class="msds-container-contact-card__overlay">
        </div>

        <div class="msds-container-contact-card__headline">
          {{headlineNoImage}}
        </div>

        <div class="msds-container-contact-card__body">

          <div class="msds-container-contact-card__body-contact-person">
            {{contactPersonNoImage}}
          </div>

          <div class="msds-container-contact-card__body-contact-position">
            {{contactPositionNoImage}}
          </div>

          <div class="msds-container-contact-card__body-contact-email">
            <a class="msds-container-contact-card__link" href="#">
              <svg title="email" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#email" />
              </svg>
              {{contactEmailNoImage}}
            </a>
          </div>

          <div class="msds-container-contact-card__body-contact-social-media">
            <a class="msds-container-contact-card__link" href="#">

              <svg title="linkedin" class="msds-container-contact-card__icon">
                <use href="{{ path '/msds-spritemap.svg' }}#linkedin" />
              </svg>

              {{contactSocialMediaLinkNoImage}}
            </a>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>