<h1>{{general.cardDescription}}</h1>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-basic-card msds-basic-card--vertical-aligned">
            <div class="msds-basic-card__caption">
                <div class="msds-basic-card__caption-title">
                    {{general.cardCaptionTitle}}
                </div>
            </div>
            <div class="msds-basic-card__separator"></div>
            <div class="msds-basic-card__body">
                <div class="msds-basic-card__body-heading">
                    {{card.placeholderHeading}}
                </div>
                <div class="msds-basic-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </div>
            </div>
            <a class="msds-basic-card__link" href="/">
                {{card.placeholderLinkText}}
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="msds-basic-card msds-basic-card--vertical-aligned msds-basic-card--centered">
            <div class="msds-basic-card__caption">
                <div class="msds-basic-card__caption-title">
                    {{general.cardCaptionTitle}}
                </div>
            </div>
            <div class="msds-basic-card__separator"></div>
            <div class="msds-basic-card__body">
                <div class="msds-basic-card__body-heading">
                    {{card.placeholderHeading}}
                </div>
                <div class="msds-basic-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </div>
            </div>
            <a class="msds-basic-card__link" href="/">
                {{card.placeholderLinkText}}
            </a>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="msds-basic-card msds-basic-card--vertical-aligned">
            <div class="msds-basic-card__caption">
                <svg class="msds-basic-card__caption-icon" title="logo">
                    <use href="{{ path '/msds-spritemap.svg' }}#logo-diamond" />
                </svg>
                <div class="msds-basic-card__caption-title">
                    {{general.cardCaptionTitle}}
                </div>
            </div>
            <div class="msds-basic-card__separator"></div>
            <div class="msds-basic-card__body">
                <div class="msds-basic-card__body-heading">
                    {{card.placeholderHeading}}
                </div>
                <div class="msds-basic-card__body-description">
                    {{card.placeholderDescriptionlong}}
                </div>
            </div>
            <a class="msds-basic-card__link" href="/">
                {{card.placeholderLinkText}}
            </a>
        </div>
    </div>
</div>