<div style="background: white;">
    <h1>Light Theme</h1>
    <h2>{{general.cardDescription}}</h2>
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">
                <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="http://via.placeholder.com/360x180" alt="Card image">
                </div>
                <div class="msds-basic-card__caption">
                    <div class="msds-basic-card__caption-title">
                        {{general.cardCaptionTitle}}
                    </div>
                </div>
                <div class="msds-basic-card__separator"></div>
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned msds-basic-card--centered">
                <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="http://via.placeholder.com/360x180" alt="Card image">
                </div>
                <div class="msds-basic-card__caption">
                    <div class="msds-basic-card__caption-title">
                        {{general.cardCaptionTitle}}
                    </div>
                </div>
                <div class="msds-basic-card__separator"></div>
                <div class="msds-basic-card__body">
                    
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">
                <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="http://via.placeholder.com/360x180" alt="Card image">
                </div>
                <div class="msds-basic-card__caption">
                    <div class="msds-basic-card__caption-icon" title="logo-diamond">
                        <div class="msds-logo-diamond" title="Logo Diamond"></div>
                    </div>
                    <div class="msds-basic-card__caption-title">
                        {{general.cardCaptionTitle}}
                    </div>
                </div>
                <div class="msds-basic-card__separator"></div>
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <h2>Basic card with no caption (caption image and title) and no header Icon</h2>
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">   
                <div class="msds-basic-card__separator"></div>                    
                <div class="msds-basic-card__body">                              
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">       
                <div class="msds-basic-card__separator"></div>                
                <div class="msds-basic-card__body">                               
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">      
                <div class="msds-basic-card__separator"></div>                 
                <div class="msds-basic-card__body">                              
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <h2>Basic card with header Icons</h2>
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <svg class="msds-icon">
                            <use href="{{ path '/msds-spritemap.svg' }}#demo"></use>
                        </svg>
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon msds-basic-card__body-heading-icon--custom">
                        <svg class="msds-icon">
                            <use href="{{ path '/msds-spritemap.svg' }}#demo"></use>
                        </svg>
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <svg class="msds-icon">
                            <use href="{{ path '/msds-spritemap.svg' }}#demo"></use>
                        </svg>
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>    
    <br /><br /><br />
    <h2 style="color: white">Basic card with header custom icons</h2>    
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <img src="{{ path '/src/demo-img/partnerlogo1.jpg' }}" alt="custom image one">
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <img src="{{ path '/src/demo-img/partnerlogo2.jpg' }}" alt="custom image two">
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--vertical-aligned">
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <img src="{{ path '/src/demo-img/partnerlogo3.jpg' }}" alt="custom image three">
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>
    <br /><br /><br />
</div>    
<br /><br /><br />
<div class="msds-bg-clear-blue">
    <h1 class="msds-text-white">Dark Theme</h1>
    <h2 class="msds-text-white">{{general.cardDescription}}</h2>
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">
                <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="http://via.placeholder.com/360x180" alt="Card image">
                </div>
                <div class="msds-basic-card__caption">
                    <div class="msds-basic-card__caption-title">
                        {{general.cardCaptionTitle}}
                    </div>
                </div>
                <div class="msds-basic-card__separator"></div>
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned msds-basic-card--centered">
                <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="http://via.placeholder.com/360x180" alt="Card image">
                </div>
                <div class="msds-basic-card__caption">
                    <div class="msds-basic-card__caption-title">
                        {{general.cardCaptionTitle}}
                    </div>
                </div>
                <div class="msds-basic-card__separator"></div>
                <div class="msds-basic-card__body">
                    
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">
                <div class="msds-basic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item" src="http://via.placeholder.com/360x180" alt="Card image">
                </div>
                <div class="msds-basic-card__caption">
                    <div class="msds-basic-card__caption-icon" title="logo-diamond">
                        <div class="msds-logo-diamond" title="Logo Diamond"></div>
                    </div>                    
                    <div class="msds-basic-card__caption-title">
                        {{general.cardCaptionTitle}}
                    </div>
                </div>
                <div class="msds-basic-card__separator"></div>
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <h2 class="msds-text-white">Basic card with no caption (caption image and title) and no header Icon</h2>
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">   
                <div class="msds-basic-card__separator"></div>                    
                <div class="msds-basic-card__body">                              
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">       
                <div class="msds-basic-card__separator"></div>                
                <div class="msds-basic-card__body">                               
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">      
                <div class="msds-basic-card__separator"></div>                 
                <div class="msds-basic-card__body">                              
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <h2 class="msds-text-white">Basic card with header Icons</h2>    
    <div class="row card-row">
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <svg class="msds-icon">
                            <use href="{{ path '/msds-spritemap.svg' }}#demo"></use>
                        </svg>
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <svg class="msds-icon">
                            <use href="{{ path '/msds-spritemap.svg' }}#demo"></use>
                        </svg>
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="msds-basic-card msds-basic-card--dark msds-basic-card--vertical-aligned">                       
                <div class="msds-basic-card__body">
                    <div class="msds-basic-card__body-heading-icon">
                        <svg class="msds-icon">
                            <use href="{{ path '/msds-spritemap.svg' }}#demo"></use>
                        </svg>
                    </div>                
                    <div class="msds-basic-card__body-heading">
                        {{card.placeholderHeading}}
                    </div>
                    <div class="msds-basic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </div>
                </div>
                <a class="msds-basic-card__link" href="/">
                    {{card.placeholderLinkText}}
                </a>
            </div>
        </div>
    </div>    
</div>