<h1>{{general.cardDescription}} Aspect 2 by 1</h1>
<h2>Large cards</h2>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<h2>Small cards</h2>
<div class="row card-row">
    <div class="col-12 col-md-3">
        <div class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<h1>{{general.cardDescriptionDarkTheme}} Aspect 2 by 1</h1>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<h1>{{general.cardDescriptionDarkThemeSmall}} Aspect 2 by 1</h1>
<div class="row card-row">
    <div class="col-12 col-md-3">
        <div
            class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div
            class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div
            class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-3">
        <div
            class="msds-generic-card msds-generic-card--small msds-generic-card--vertical-aligned msds-generic-card--dark-theme">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading aspect-2by1">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<h1>Cards Aspect 16 by 9</h1>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-16by9">
                    <img class="msds-generic-card__frame-image embed-responsive-item" src={{card.placeholderImg}}
                        alt="Card image">
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

<h1>Larg cards with SVG</h1>
<div class="row card-row">
    <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--svg">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <svg class="msds-generic-card__frame-image embed-responsive-item">
                        <use href="{{ path '/msds-spritemap.svg' }}#no-backup" />
                    </svg>
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>   
</div>

<h1>Large Dark Theme card with SVG</h1>
<div class="row card-row">
     <div class="col-12 col-md-4">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme msds-generic-card--svg">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <svg class="msds-generic-card__frame-image embed-responsive-item">
                        <use href="{{ path '/msds-spritemap.svg' }}#no-backup" />
                    </svg>
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div> 
</div>

<h1>Small cards with SVG</h1>
<div class="row card-row">
    <div class="col-12 col-md-3">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--svg">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <svg class="msds-generic-card__frame-image embed-responsive-item">
                        <use href="{{ path '/msds-spritemap.svg' }}#no-backup" />
                    </svg>
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div>   
</div>

<h1>Small Dark Theme cards with SVG</h1>
<div class="row card-row">
      <div class="col-12 col-md-3">
        <div class="msds-generic-card msds-generic-card--vertical-aligned msds-generic-card--dark-theme msds-generic-card--svg">
            <a href="#" class="msds-generic-card--link">
                <div class="msds-generic-card__frame embed-responsive embed-responsive-2by1">
                    <svg class="msds-generic-card__frame-image embed-responsive-item">
                        <use href="{{ path '/msds-spritemap.svg' }}#no-backup" />
                    </svg>
                </div>
                <div class="msds-generic-card__body">
                    <h3 class="msds-generic-card__body-heading">
                        {{card.placeholderHeading}}
                    </h3>
                    <p class="msds-generic-card__body-description">
                        {{card.placeholderDescriptionlong}}
                    </p>
                </div>
            </a>
        </div>
    </div> 
</div>