<div class="row">
  <div class="col-12">
    <div class="msds-btn-group--left">
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Enabled</button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon">
        icon, enabled
        <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg>
      </button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Hover</button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon">
        With icon, hover
        <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg>
      </button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Active (press it)</button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon">
        With icon, active (pressed)
        <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg>
      </button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg">Focus (use tab key or clicked on it)</button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon">
        With icon, focus
        <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg>
      </button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg" disabled>Disabled</button>
      <button type="button" class="msds-btn msds-btn--primary msds-btn--lg msds-btn--icon" disabled>
        With icon, disabled
        <svg class="msds-icon"><use href="{{ path '/msds-spritemap.svg' }}#publish" /></svg>
      </button>
    </div>     
  </div>
</div>