<div class="container">
	<h1>NOTES:</h1>
	<p>
		This is a partial implementation, the button styles needs the buttons checked into the style system
		and the checkbox needs to be implemented how we want it in forms first. But be mindfull of accessability when
		doing so.
	</p>

	<h2>Extra attention alert - Without a checkbox - With image</h2>
	<h3>This checkbox will remain until the page is refreshed</h3>
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-bg-gray-2" data-alert-id="12">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="{{ path '/msds-spritemap.svg' }}#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<img class="msds-alert__image" src="{{ path '/src/demo-img/time-to-market.png' }}">
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">Donec libero turpis, lacinia nec leo sit amet</div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Extra attention alert - Without a checkbox - With image</h2>
	<h3>This checkbox will remain hidden for 30 days using cookies</h3>
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-alert--stay-hidden msds-bg-gray-2" data-alert-id="123">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="{{ path '/msds-spritemap.svg' }}#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<img class="msds-alert__image" src="{{ path '/src/demo-img/time-to-market.png' }}">
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">Donec libero turpis, lacinia nec leo sit amet</div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Extra attention alert - With image</h2>
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-bg-gray-2" data-alert-id="1234">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="{{ path '/msds-spritemap.svg' }}#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<img class="msds-alert__image" src="{{ path '/src/demo-img/time-to-market.png' }}">
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">Donec libero turpis, lacinia nec leo sit amet</div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>

							<div class="msds-alert__checkbox-container">
								<input type="checkbox" class="msds-alert__checkbox" id="msds-alert__checkbox"
									type="text">
								<label class="msds-alert__checkbox-label" for="msds-alert__checkbox">Don't show this
									again</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Extra attention alert - No image</h2>
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-bg-gray-2" data-alert-id="12345">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="{{ path '/msds-spritemap.svg' }}#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">Donec libero turpis, lacinia nec leo sit amet</div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>
							<div class="msds-alert__checkbox-container">
								<input type="checkbox" class="msds-alert__checkbox" id="msds-alert__checkbox"
									type="text">
								<label class="msds-alert__checkbox-label" for="msds-alert__checkbox">Don't show this
									again</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Generic alerts - With image</h2>
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-alert--generic msds-bg-gray-2" data-alert-id="123456">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="{{ path '/msds-spritemap.svg' }}#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<img class="msds-alert__image" src="{{ path '/src/demo-img/co-innovation.png' }}">
					<div class="msds-alert__text-container">
						<div class="msds-alert__header">Donec libero turpis, lacinia nec leo sit amet</div>
						<p class="msds-alert__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>
							<div class="msds-alert__checkbox-container">
								<input type="checkbox" class="msds-alert__checkbox" id="msds-alert__checkbox"
									type="text">
								<label class="msds-alert__checkbox-label" for="msds-alert__checkbox">Don't show this
									again</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2>Generic alerts - No image</h2>
	<div class="row">
		<div class="col-12">
			<div class="d-none msds-alert msds-alert--generic msds-bg-gray-2" data-alert-id="1234567">
				<div class="msds-alert__close-click-area">
					<svg class="msds-alert__close-icon">
						<use href="{{ path '/msds-spritemap.svg' }}#cross" />
					</svg>
				</div>
				<div class="msds-alert__content-container">
					<div class="msds-alert__text-container">
						<div class="msds-alert__header msds-text-gray-10">Donec libero turpis, lacinia nec leo sit amet</div>
						<p class="msds-alert__text msds-text-gray-9">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit
							amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit molestie.
							Mauris malesuada nisi sit amet augue accumsan tincidunt. Maecenas tincidunt, velit ac
							porttitor pulvinar.
						</p>
						<div class="msds-alert__action-container">
							<button type="button"
								class="msds-btn msds-btn--secondary msds-btn--sm">ok,
								i get it</button>
							<div class="msds-alert__checkbox-container">
								<input type="checkbox" class="msds-alert__checkbox" id="msds-alert__checkbox"
									type="text">
								<label class="msds-alert__checkbox-label" for="msds-alert__checkbox">Don't show this
									again</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>